li{
    list-style: none;
}
*{
    margin: 0px;
    padding: 0px;
}
.page{
    text-align: center;
    margin: 50px auto;
}
.page .list{
    display: inline-block;
}
.page .list li{
    float: left;
}
.page .list li+li{
    margin-left:6px;
}
.page .list li input{
    width: 46px;
    height: 30px;
    background: #049fbb;
    color: #ffffff;
    border: none;
    border-radius: 5px;
}
.page .box{
    width: 400px;
    height: 400px;
    background: forestgreen;
    margin:  20px auto;
}